/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Hylia Serif';
    src: url('../fonts/fuente-zelda.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*variables*/
:root {
    --color-azul:#00a7a7;
    --color-amarillo:#f7a000;
    --color-blanco:whitesmoke;
    --color-negro:black;
    --color-verde: #5c9419;
    --fuente-zelda: "Hylia Serif";
}

/*reseteo*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/*header*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(var(--color-verde), var(--color-azul));
    font-family: var(--fuente-zelda), serif;
}

.header{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    text-align: center;
    gap: 5rem;
    background-color: var(--color-verde);
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    font: var(--fuente-zelda);
    gap: 5rem;
}

.menu__opcion{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    gap: 1rem;
    font-size:2rem;
    color: var(--color-amarillo);

}

.header__logo{
    width: 8rem;
    height: 7rem;
    border-radius: 1rem;
    object-fit: contain;
}
/*------Buscador-----------*/

.buscador__titulo{
    text-shadow: 2px 2px 4px var(--color-amarillo);
}

.buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
}

.buscador__imagen{
    height: 20rem;
    width: 60rem;
    border-radius: 1rem;

}

.input__buscador{
    border-radius: 0.5rem;
    width:60rem;
    color: var(--color-verde);
    font-size: 1.5rem;
    font-family: var(--fuente-zelda), serif;
}

.filtro__buscadro{
    font-size: 1.5rem;
}


.input__filtro{
    border-radius: 0.5rem;
    width:15rem;
    height:2rem;
    color: var(--color-azul);
    font-size: 1rem;
    font-family: var(--fuente-zelda), serif;
}

.buscador__resultado {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.tarjeta {
    background-color: var(--color-blanco);
    border: 3px solid var(--color-amarillo);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-negro);
}

/*-----favoritos-------*/
.favoritos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-favoritos{
    width: 100%;
    max-width: 1200px; /* Ancho máximo para que no se estire infinito */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}



.buscador__resultado {
    width: 100%;
    max-width: 1200px; /* Ancho máximo para que no se estire infinito */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/*------juegos------*/
.juegos__contenedor {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}



/*--------footer-------*/
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--color-azul);
    justify-content: center;
    height: 7rem;
}


.footer__texto{
    text-align: center;
    color: var(--color-amarillo);
}


